@page
@model PodstawoweTechnologieInternetowe.Pages.JavaScript.BreakpointsModel
@{
    ViewData["Title"] = "Breakpoints";
}

<h3 id="h3">Więcej Breakpoints!</h3>

<ul>
    <li>
        Wychwytywanie zmian DOM 
    </li>
    <li>
        Event listener breakpoints
        <ul>
            <li>
                Nie twój skrypt? Dodaj go do -> <b>Blackbox script</b>
            </li>
        </ul>
        </li>
</ul>
<p><button class="btn-info" onclick="ChangeFont()">H3 Zmien czcionkę</button></p>
<p><button class="btn-info" id="ChangeColorBtn">H3 Zmien kolor</button></p>
