@page
@model PodstawoweTechnologieInternetowe.Pages.JavaScript.ConsoleModel
@{
    ViewData["Title"] = "Console";
}

<h3>Console</h3>

<ul>
    <li>
        Otwarcie konsoli bezpośrednio
        <ul>
            <li> Ctrl + SHIFT + J</li>
            <li> Command + SHIFT + J (Mac)</li>
        </ul>
    </li>
    <li>
        Konsole również można otworzyć jako dodatkowe okno w innych panelach ( ESC )
    </li>
</ul>

