@page
@model PodstawoweTechnologieInternetowe.Pages.JavaScript.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Javascript debugging</h1>

<div class="introImg">
    <img style="height: 380px;" src="~/img/js.png" />
</div>

