@page
@model PodstawoweTechnologieInternetowe.Pages.JavaScript.LoggingModel
@{
    ViewData["Title"] = "Logging";
}

<h3>Podstawy logowania</h3>

<p><button class="btn-info" onclick="console.log(Animals)">console.log(Animals)</button></p>
<p><button class="btn-info" onclick="console.log({Animals})">console.log({Animals})</button></p>
<p><button class="btn-info" onclick="console.table(Animals)">console.table(Animals)</button></p>
<p><button class="btn-info" onclick="TraceExample()">console.trace()</button></p>
