@page
@model PodstawoweTechnologieInternetowe.Pages.Warmup.CommandMenuModel
@{
    ViewData["Title"] = "CommandMenu";
}

<h3>Command Menu</h3>

<ol>
    <li>
        Otwórz <b>Command Menu</b>
        <ul>
            <li> Ctrl + SHIFT + P</li>
            <li> Command + SHIFT + P (Mac)</li>
        </ul>
    </li>
    <li>
        <b>Dock To Bottom, Dock To Right </b>
    </li>
    <li>
        <b>Capture...,Area,Node </b>
    </li>
    <li>
        <b>Command Menu</b> w przejrzysty sposób prezentuje dostępne opcje, warto sprawdzić co tam się kryje!
    </li>
</ol>



