@page
@model PodstawoweTechnologieInternetowe.Pages.Warmup.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Warmup!</h1>
<div class="introImg">
    <img src="~/img/warmup.png" style="height: 387px; width: auto;"/>
    </div>