@page
@model PodstawoweTechnologieInternetowe.Pages.Warmup.InspectMeModel
@{
    ViewData["Title"] = "InspectMe";
}

<h3>Inspect Me!</h3>

<p> Jak dostać się do narzędzi debugowania w Chrome?
<ul>
    <li>Prawy przycisk myszki -> Inspect</li>
    <li>F12</li>
</ul>