@page
@model PodstawoweTechnologieInternetowe.Pages.CSS.ComputedPaneModel
@{
    ViewData["Title"] = "ComputedPane";
}

<h3>Panel Computed</h3>

<ul>
    <li>Wybierz element w drzewku DOM</li>
    <li>W panelu <b>Computed</b> </li>
    <li>Opcja filtrowania</li>
    <li>Nawiguj do stylu</li>
</ul>
<p>Panel <b>Computed</b> przedstawia już "przeliczone" style, których rezultatem jest to co widzimy na ekranie</p>
<p>Dzięki opcji filtrowania oraz szybkich linków jesteśmy w stanie szybciej odnaleźć plik CSS, deklarację styli która obecnie wpływa na nasz element DOM.</p>

<div class="colorBox theme-green">
    <p>Inspect Me!</p>
</div>