@page
@model PodstawoweTechnologieInternetowe.Pages.CSS.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>CSS Debugging & Prototyping</h1>

<div class="introImg">
    <img src="~/img/css.gif" />
</div>
