@page
@model PodstawoweTechnologieInternetowe.Pages.CSS.StylesPaneModel
@{
    ViewData["Title"] = "StylesPane";
}

<h3>Panel Styli</h3>

<ul>
    <li>Wybierz element w drzewku DOM</li>
    <li>W panelu <b>Styles</b> możesz podejrzeć jego CSS</li>
    <li>Opcja filtrowania</li>
    <li>Zmień mu kolor!</li>
    <li>Autocomplete, prawie nic nie musisz pamiętać! italic?</li>
    <li>Podświetlanie elementów które są zmieniane</li>
    <li>Increment Shfit+UP / Shift+DOWN +-10px</li>
    <li>Pseudo klasy :hov</li>
    <li>Klasy też są (twoje klasy:P)</li>  
    <li>Contrast Ratio - zmień kolor czcionki (darktheme)</li>
    <li><a href="https://css-tricks.com/snippets/css/css-triangle/">Tutaj będzie trójkąt</a></li>

</ul>
<p>Panel <b>Styles</b> umożliwia podejrzenie styli CSS przypisanych do zaznaczonego elementu z drzewka DOM.</p>
<p> W tym miejscu również można eksperymentować dodając lub zmieniając już istniejące style.</p>

<div class="colorBox theme-green">
    <p>Inspect Me!</p>
</div>