@page
@model PodstawoweTechnologieInternetowe.Pages.EndModel
@{
    ViewData["Title"] = "End";
}

<h1>Dziekuje za uwagę!</h1>

<div class="introImg">
    <img src="~/img/end.png" style="height: 387px; width: auto;" />
</div>

