@page
@model IndexModel
@{
    ViewData["Title"] = "Witam";
}

<div class="text-center">
    <h2 class="display-5">Chrome debbugging tips & tricks</h2>


    <p>Podstawowe Technologie Internetowe</p>
    <p>Karol Bukowiec 5898</p>
    
    <p>https://developers.google.com/web/tools/chrome-devtools</p>
</div>
